<mat-card>
  <div class="container">

    <div fxLayout="row" fxLayoutAlign="center">
      <div >
        <h3>1800' lü Yılların İstanbul İklim Bilgileri</h3>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
      <div >
        <h3> TOPLAM : {{dataSource?.data?.length}}</h3>
      </div>
    </div>

    <div flexLayout="row" fxLayoutAlign="end">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" (keyup)="applyFilter($event.target.value)" placeholder="Ara ...">
        </mat-form-field>
      </form>
      <a mat-flat-button routerLink="." color="warn" (click)="filterOff()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          cancel
        </mat-icon> Filter Off | {{ 'YIL -' + yearCheck + ' | AY - ' + monthCheck + ' | GÜN - ' + dayCheck }}
      </a>

      <a mat-flat-button routerLink="." color="primary" (click)="showSameDates()">
        Aynı Tarihleri Göster Y/A/G
      </a>
    </div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="#">
        <mat-header-cell [style.flex]="'0 0 2%'" *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell [style.flex]="'0 0 2%'" *matCellDef="let element; let i = index"> {{i + 1}} </mat-cell>
      </ng-container>

      <!-- Text Column -->
      <ng-container matColumnDef="text">
        <mat-header-cell [style.flex]="'0 0 30%'" *matHeaderCellDef mat-sort-header> İçerik </mat-header-cell>
        <mat-cell [style.flex]="'0 0 30%'" *matCellDef="let element"> {{element.text | textShrink: 75 }} </mat-cell>
      </ng-container>

      <!-- Place Column -->
      <ng-container matColumnDef="place">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Mekan </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.place | textShrink: 15 }} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tarih(Miladi) </mat-header-cell>
        <mat-cell *matCellDef="let element" [style.color]="'#' + '0000ff'"> {{element.date}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="originalDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Orjinal Tarih </mat-header-cell>
        <mat-cell matTooltip="{{getFullHicriMonthName(element.originalDate)}}" *matCellDef="let element" [style.color]="'#' + 'FF0000'"> {{element.originalDate}} </mat-cell>
      </ng-container>

      <!-- pagenr Column -->
      <ng-container matColumnDef="pageNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sayfa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pageNumber}} </mat-cell>
      </ng-container>

      <!-- bookName Column -->
      <ng-container matColumnDef="bookName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> BookName </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.bookName | textShrink: 15}} </mat-cell>
      </ng-container>

      <!--  yazar -->
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Yazar </mat-header-cell>
        <mat-cell *matCellDef="let element" [style.color]="'#' + '0000ff'"> {{element.author}} </mat-cell>
      </ng-container>

      <!-- yayınevi -->
      <ng-container matColumnDef="publisher">
        <mat-header-cell *matHeaderCellDef mat-sort-header> YayınEvi </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.publishedBy | textShrink:15}} </mat-cell>
      </ng-container>

      <!-- yıl Column -->
      <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef><span>Yıl<mat-checkbox [(ngModel)]="yearCheck" (change)="dateClicked($event)"></mat-checkbox></span></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" aria-label="Example home icon" color="{{ element.yearExist ? 'primary': 'warn' }}">
            {{ element.yearExist ? 'done' : 'close'}}
          </mat-icon>
        </mat-cell>
      </ng-container>

      <!-- ay Column -->
      <ng-container matColumnDef="month">
        <mat-header-cell *matHeaderCellDef><span>Ay<mat-checkbox [(ngModel)]="monthCheck" (change)="dateClicked($event)"></mat-checkbox></span></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" aria-label="Example home icon" color="{{ element.monthExist ? 'primary': 'warn' }}">
            {{ element.monthExist ? 'done' : 'close'}}
          </mat-icon>
        </mat-cell>
      </ng-container>

      <!-- gün Column -->
      <ng-container matColumnDef="day">
        <mat-header-cell *matHeaderCellDef><span>Gün<mat-checkbox [(ngModel)]="dayCheck" (change)="dateClicked($event)"></mat-checkbox></span></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" aria-label="Example home icon" color="{{ element.dayExist ? 'primary': 'warn' }}">
            {{ element.dayExist ? 'done' : 'close'}}
          </mat-icon>
        </mat-cell>

      </ng-container>

      <!-- weather Column -->
      <ng-container matColumnDef="weatherTags">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Hava Durumu </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <h1 *ngFor="let item of element.weatherTags?.split(',')" matTooltip="{{item}}">
            <i [ngClass]="getWeatherTagClass(item)"></i>
          </h1>
        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"></mat-row>
    </mat-table>

  </div>

</mat-card>

<ng-template #tpl let-element>


  <ng-container>
    <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
      {{element.text}}
    </div>
  </ng-container>
</ng-template>
