<mat-card>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center">
      <div></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
      <div>
        <h3>TOPLAM : {{ dataSource?.data?.length }}</h3>
      </div>
    </div>

    <div flexLayout="row" fxLayoutAlign="end">
      <circle-progress
        class="circle-progress"
        subtitle="Taranan Eser Yüzdesi"
        [percent]="readFilePercentage"
      ></circle-progress>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input
            matInput
            [(ngModel)]="searchText"
            [ngModelOptions]="{ standalone: true }"
            (keyup)="applyFilter($event.target.value)"
            placeholder="Ara ..."
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matAutocomplete]="tdAuto"
            placeholder="İklim durum filtreleme"
          />
          <mat-autocomplete #tdAuto="matAutocomplete">
            <mat-option
              (onSelectionChange)="setWeatherFilter($event, weather.key)"
              *ngFor="let weather of weatherTagsMap | keyvalue"
              [value]="weather.key"
            >
              {{ weather.key }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <a mat-flat-button routerLink="." color="warn" (click)="filterOff()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          cancel
        </mat-icon>
        Filter Off |
        {{
          'YIL -' + yearCheck + ' | AY - ' + monthCheck + ' | GÜN - ' + dayCheck
        }}
      </a>

      <a
        mat-flat-button
        routerLink="."
        color="primary"
        (click)="showSameDates()"
      >
        Aynı Tarihleri Göster Y/A/G
      </a>
    </div>

    <div class="example-container mat-elevation-z8">
      <mat-table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortDisableClear
        [multiTemplateDataRows]="true"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="index">
          <mat-header-cell [style.flex]="'0 0 5%'" *matHeaderCellDef>
            No.
          </mat-header-cell>
          <mat-cell
            class="mat-column-index"
            [style.flex]="'0 0 5%'"
            [ngStyle]="{
              'background-color': element.rangeEndDate
                ? 'rgb(189, 187, 187)'
                : 'none'
            }"
            *matCellDef="let element; let i = dataIndex"
          >
            {{ i + 1 }}
          </mat-cell>
        </ng-container>

        <!-- Text Column -->
        <ng-container matColumnDef="text">
          <mat-header-cell [style.flex]="'0 0 30%'" *matHeaderCellDef>
            İçerik
          </mat-header-cell>
          <mat-cell [style.flex]="'0 0 30%'" *matCellDef="let element">
            {{ element.text | textShrink: 50 }}
          </mat-cell>
        </ng-container>

        <!-- weather Column -->
        <ng-container matColumnDef="weatherTags">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 15%'">
            İklim Durumu
          </mat-header-cell>
          <mat-cell
            fxFlexLayout="space-between start"
            fxLayout="row"
            fxLayoutGap="10px"
            *matCellDef="let element"
            [style.flex]="'0 0 15%'"
          >
            <h1
              *ngFor="
                let item of element.weatherTags?.split(',');
                let i = index
              "
              matTooltip="{{ item }}"
            >
              <i
                *ngIf="i < 4"
                [ngClass]="getWeatherTagClass(item.trim().toLowerCase())"
              ></i>
            </h1>
          </mat-cell>
        </ng-container>

        <!-- Place Column -->
        <ng-container matColumnDef="place">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Mekan
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.place | textShrink: 15 }}
          </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Tarih(Miladi)
          </mat-header-cell>
          <mat-cell
            matTooltipClass="tooltip"
            matTooltip="{{
              element.rangeEndDate ? element.rangeEndDate : null
            }}"
            *matCellDef="let element"
            [style.color]="'#' + '0000ff'"
          >
            {{ element.date }}
          </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="originalDate">
          <mat-header-cell *matHeaderCellDef> Orjinal Tarih </mat-header-cell>
          <mat-cell
            matTooltip="{{ getFullHicriMonthName(element.originalDate) }}"
            *matCellDef="let element"
            [style.color]="'#' + 'FF0000'"
          >
            {{ element.originalDate }}
          </mat-cell>
        </ng-container>

        <!-- bookName Column -->
        <ng-container matColumnDef="bookName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Kitap
          </mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            matTooltip="{{ element.bookName }}"
          >
            {{ element.bookName | textShrink: 17 }}
          </mat-cell>
        </ng-container>

        <!-- yıl Column -->
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 5%'"
            ><span
              >Yıl<mat-checkbox
                [(ngModel)]="yearCheck"
                (change)="dateClicked($event)"
              ></mat-checkbox></span
          ></mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 5%'">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              color="{{ element.yearExist ? 'primary' : 'warn' }}"
            >
              {{ element.yearExist ? 'done' : 'close' }}
            </mat-icon>
          </mat-cell>
        </ng-container>

        <!-- ay Column -->
        <ng-container matColumnDef="month">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 5%'"
            ><span
              >Ay<mat-checkbox
                [(ngModel)]="monthCheck"
                (change)="dateClicked($event)"
              ></mat-checkbox></span
          ></mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 5%'">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              color="{{ element.monthExist ? 'primary' : 'warn' }}"
            >
              {{ element.monthExist ? 'done' : 'close' }}
            </mat-icon>
          </mat-cell>
        </ng-container>

        <!-- gün Column -->
        <ng-container matColumnDef="day">
          <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 5%'"
            ><span
              >Gün<mat-checkbox
                [(ngModel)]="dayCheck"
                (change)="dateClicked($event)"
              ></mat-checkbox></span
          ></mat-header-cell>
          <mat-cell *matCellDef="let element" [style.flex]="'0 0 5%'">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              color="{{ element.dayExist ? 'primary' : 'warn' }}"
            >
              {{ element.dayExist ? 'done' : 'close' }}
            </mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
          >
            <div *ngIf="element.id === expandedId" fxFlex fxLayout="row">
              <div
                class="example-element-diagram"
                fxFlex
                fxLayout="column"
                fxLayoutGap="5px"
              >
                <div class="example-element-position">
                  {{ element.bookName }} - {{ element.author }}
                </div>
                <div class="example-element-symbol">
                  (origin: {{ element.originalDate }})
                </div>
                <div class="example-element-name">
                  {{ element.date }}
                </div>
                <div class="example-element-weight">
                  {{ element.pageNumber }}. s. / <u>Yayınevi: </u>
                  {{ element.publishedBy }}
                </div>
              </div>
              <div class="example-element-description">
                {{ element.text }}
                <span class="example-element-description-attribution">
                  -- {{ element.place }}
                </span>
                <div
                  fxFlexFill
                  fxLayout="row"
                  fxLayoutAlign="center"
                  fxLayoutGap="10px"
                >
                  <h3>
                    {{ element.weatherTags }}
                  </h3>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="columnsToDisplay; sticky: true"
        ></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: columnsToDisplay"
          class="example-element-row"
          (click)="toggleExpandableId(row.id)"
        ></mat-row>
        <mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></mat-row>
      </mat-table>
    </div>
  </div>
</mat-card>
